@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('../../public/pictures/event1.webp');
}

.promo-1{
    background-image: url('../../public/pictures/event2.webp');
}

.promo-2{
    background-image: url('../../public/pictures/p1.png');
  
    
}
.promo-3{
    background-image: url('../../public/pictures/p2.png'); 
    
}




.promo-4{
    background-image: url('../../public/pictures/event3.webp'); 
}


